.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {

	background-color: #FFFFF;
	text-align: left;
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}

.container img {
	float: left;
}

.container nav{
	float: right;
}

#background-slideshow{
    position: relative;
    height: 745px;
    width: 1440px;
    position: absolute;
    top: 0px;
    right: -10px;
}

img.slides{
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0px;
    height: 745px;
}

img#img1{
    z-index: -666;
}

img#img2{
    z-index: -777;
}

img#img3{
    z-index: -888;
}

img#img4{
    z-index: -999;
}

.portfolio {
	background-color: #FFD100
}

.portfolio h2 {
	text-align: center;

}

.portfolio1 {

	float: left;
	width: 33%;
	text-align: center;
}

.portfolio2 {

	float: left;
	width: 33%;
	text-align: center;
}

.portfolio3 {

	float: left;
	width: 33%;
	text-align: center;
}


.aboutphoto{

	float: left;
	width: 50%;
}

.abouttext {

	float: left;
	width: 50%;
}

footer {
	min-height: 200px
	background-color: #C4BFB6;
	text-align: right;
}

.seo {
	float: left;
	width: 33%;
}

.copyright {
	float: left;
	width: 33%;
	text-align: center;
}

.contact {
	float: left;
	width: 33%;
}
